body {
    font-family: 'Inter Tight', sans-serif;
}

h1 {
    font-size: 300%;
}

.new {
    display: flex;
    margin-bottom: 150px;

}

#ol {
    color: rgb(240, 81, 23);
}

#lo2 {
    color: blue;
}

.half-width {
    width: 80%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, olive);
    padding: 10px 40px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}

.bn {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}